html{
    background-color: #000000;
    color: #efefef;
    font-size: 62.5%;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* navbar started */
.align_center a {
    display: inline-block;
}
.logo-img {
    height: 74px;
    width: 100%;
    max-width: 1280px;
}

.nav_container {
    
    justify-content: center;
    gap: 20px;
}

.nav_font {
    font-size: 1.6rem;
    color: #efefef;
    text-decoration: none;
}

.nav_font:hover {
    color: #1e6e54;
}

.nav_button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration: none;
}
.header {
    width: 100%;
    padding: 20px;
}
.box_color{
    border-color: #efefef;
    color: #efefef;
}
.box_color1{
    background-color: #fa0202;
    color: #efefef;
}
.box_color2{
    background-color: #000000;
    color: #efefef;
}
.btn1_size{
    height: 10px;
}
.icon{
    border: #efefef solid 0.5px;
    background-color: #efefef;
    padding: 3px;
}
/* navbar ended */
/* container started */
.img-size{
    width: 100%;
    max-width: 1280px; 
    height: auto;
}
/* container ended */
/* body 1 started */
.font_size_1{
    font-size: 2rem;
}
.font_size_2{
    font-size: 4rem;
}
.font_size_3{
    font-size: 5rem;
}
.font_size_4{
    font-size: 1.6rem;
}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* body 1 ended */
/* body2 started */
.img_bg{
    background-color: #efefef;
}
.img3_size{
    width: 100%;
    max-width: 230px;
    height: auto;
    margin: 0 10px;
}


/* body2 ended */
/* body3 started */
.bg_body3{
    background-color: #181818;
    width: 100%;
}
.font_size_5{
    font-size: 3.2rem;
}
.font_red{
    color: #fa0202;
}
.img4_size{
    width: 330px;
    height: 180px;
}
.box_color3{
    background-color: #181818;
    color: #efefef;
}
/* body3 ended */
/* body4 started */
.bg_body4{
    background-color: #000000;
    width: 100%;
}
/* body4 ended */
/* express started */
.img5_size{
    width: 310px;
    }
.txt_dec{
    text-decoration: none;
    text-transform: none;
}    
/* express Ended */
/* village started */
.img6_size{
    width: 600px;
}
.box_color3{
    background-color: #28a745;
    color: #efefef;
}
/* village Ended */
/* comming soon started */

/* comming soon started */
/* social feed started  */
.social_feed{
    width: 100%;
    height: 222;
}
.img7_size{
    width: 222px;
    height: 222px;
}
/* social feed Ended  */